@model IEnumerable<Connect4.ViewModels.TeamViewModel>
<meta http-equiv="refresh" content="5">
<h1>Teams</h1>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Playing)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>

        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.Name)
            </td>
            <td>
                @Html.DisplayFor(i => item.Playing)
            </td>
            <td>
                @Html.DisplayFor(i => item.State)
            </td>
            <td>
                @Html.ActionLink("View Game", "Index", "DisplayGame", new { gameID = item.CurrentGameID }, null)
            </td>
            <td>
                @Html.ActionLink("Change Game", "Index", "ChangeGame", new { playerName = item.Name }, null)
            </td>
        </tr>
    }

</table>